.about {
    padding: 50px 0;
    &-title {
        font-family: 'Cremona';
        font-size: 44px;
        line-height: 32px;
        margin-bottom: 70px;
    }
    &-text {
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 60px;
    }
    &-subtitle {
        font-family: 'TenorSans';
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-card {
            max-width: 510px;
            width: 100%;
            background: transparent;
            display: flex;
            align-items: center;
            padding: 30px 15px;
            border-top: 1px solid #FFECE3;
            border-bottom: 1px solid #FFECE3;
            margin-bottom: 40px;
            span {
                max-width: 390px;
                width: 100%;
                font-size: 22px;
                line-height: 32px;
                padding-left: 15px;
            }
        }
    }
}