.thanks {
    position: relative;
    background: url(../img/thanks/bg.jpg) no-repeat center / cover;
    padding: 180px 0 50px;
    height: 90vh;
    @media (max-width:910px) {
        padding: 130px 0;
        height: 100vh;
        background: url(../img/thanks/bg_ipad.jpg) no-repeat center / cover;
    }
    @media (max-width:414px) {
        background: url(../img/thanks/bg_mobile.jpg) no-repeat center / cover;
    }
    &-title {
        font-family: 'TenorSans';
        font-size: 55px;
        line-height: 120%;
        margin-bottom: 30px;
        color: #FFF;
        @media (max-width:680px) {
            font-size: 28px;
        }
    }
    &-text {
        max-width: 360px;
        width: 100%;
        margin: 0 auto;
        font-size: 22px;
        line-height: 32px;
        color: #FFECE3;
        @media (max-width:910px) {
            margin: 0 0 0 auto;
        }
        @media (max-width:414px) {
            max-width: 255px;
        }
    }



}